@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.active {
    background-color: #FFD8B7; /* light orange */
    color: #FF5733; /* dark orange */
    border-radius: 4px;
    padding: 4px;
  }

  .text-shadow {
    text-shadow: 4px 4px 4px rgba(23, 16, 16, 0.6); /* Customize the shadow effect here */
  }